<h2 mat-dialog-title class="statistic-dialog__title">{{ data?.statistic ? 'Edit Statistic' : 'Add Statistic' }}</h2>
<mat-dialog-content class="statistic-dialog__content">
  <form [formGroup]="statisticForm" class="statistic-dialog__form">
    <mat-form-field appearance="outline" class="statistic-dialog__field">
      <mat-label>Team</mat-label>
      <mat-select formControlName="teamId" required>
        <mat-option *ngFor="let team of teams$ | async" [value]="team.teamId">
          {{ team.name }} ({{ team.sport }})
        </mat-option>
      </mat-select>
      <mat-error *ngIf="statisticForm.get('teamId')?.hasError('required')">Team is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="statistic-dialog__field">
      <mat-label>Statistic Name</mat-label>
      <input matInput formControlName="statName" required>
      <mat-error *ngIf="statisticForm.get('statName')?.hasError('required')">Statistic name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="statistic-dialog__field">
      <mat-label>Value</mat-label>
      <input matInput type="number" formControlName="value" required>
      <mat-error *ngIf="statisticForm.get('value')?.hasError('required')">Value is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="statistic-dialog__field">
      <mat-label>Recorded Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="recordedDate" required>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="statisticForm.get('recordedDate')?.hasError('required')">Recorded date is required</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="statistic-dialog__actions">
  <button mat-button (click)="onCancel()" class="statistic-dialog__button">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!statisticForm.valid" class="statistic-dialog__button">
    {{ data?.statistic ? 'Update' : 'Create' }}
  </button>
</mat-dialog-actions>
