.statistic-dialog {
  &__title {
    margin: 0;
  }

  &__content {
    padding: 1.5rem 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
  }

  &__field {
    width: 100%;
  }

  &__actions {
    padding: 1rem 0;
  }

  &__button {
    margin-left: 0.5rem;
  }
}
