/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$life-admin-dashboard-primary: mat.define-palette(mat.$indigo-palette);
$life-admin-dashboard-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$life-admin-dashboard-warn: mat.define-palette(mat.$red-palette);

$life-admin-dashboard-theme: mat.define-light-theme((
  color: (
    primary: $life-admin-dashboard-primary,
    accent: $life-admin-dashboard-accent,
    warn: $life-admin-dashboard-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($life-admin-dashboard-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
