<mat-toolbar color="primary" class="header">
  <div class="header__container">
    <div class="header__brand">
      <mat-icon class="header__icon">menu_book</mat-icon>
      <span class="header__title">Personal Wiki</span>
    </div>
    <nav class="header__nav">
      <a
        mat-button
        routerLink="/"
        routerLinkActive="header__nav-link--active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="header__nav-link"
      >
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a
        mat-button
        routerLink="/wiki-pages"
        routerLinkActive="header__nav-link--active"
        class="header__nav-link"
      >
        <mat-icon>article</mat-icon>
        Pages
      </a>
      <a
        mat-button
        routerLink="/wiki-categories"
        routerLinkActive="header__nav-link--active"
        class="header__nav-link"
      >
        <mat-icon>folder</mat-icon>
        Categories
      </a>
      <a
        mat-button
        routerLink="/page-revisions"
        routerLinkActive="header__nav-link--active"
        class="header__nav-link"
      >
        <mat-icon>history</mat-icon>
        Revisions
      </a>
      <a
        mat-button
        routerLink="/page-links"
        routerLinkActive="header__nav-link--active"
        class="header__nav-link"
      >
        <mat-icon>link</mat-icon>
        Links
      </a>
    </nav>
  </div>
</mat-toolbar>
