/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

$date-night-primary: mat.define-palette(mat.$indigo-palette);
$date-night-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$date-night-warn: mat.define-palette(mat.$red-palette);

$date-night-theme: mat.define-light-theme((
  color: (
    primary: $date-night-primary,
    accent: $date-night-accent,
    warn: $date-night-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($date-night-theme);

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
