<div class="cook-sessions">
  <div class="cook-sessions__header">
    <h1 class="cook-sessions__title">Cook Sessions</h1>
    <button mat-raised-button color="primary" (click)="openDialog()" class="cook-sessions__add-button">
      <mat-icon>add</mat-icon>
      Add Cook Session
    </button>
  </div>

  <div class="cook-sessions__table-container">
    <table mat-table [dataSource]="(cookSessions$ | async) || []" class="cook-sessions__table">
      <ng-container matColumnDef="cookDate">
        <th mat-header-cell *matHeaderCellDef class="cook-sessions__table-header">Cook Date</th>
        <td mat-cell *matCellDef="let session" class="cook-sessions__table-cell">{{ session.cookDate | date:'shortDate' }}</td>
      </ng-container>

      <ng-container matColumnDef="recipe">
        <th mat-header-cell *matHeaderCellDef class="cook-sessions__table-header">Recipe</th>
        <td mat-cell *matCellDef="let session" class="cook-sessions__table-cell">{{ getRecipeName(session.recipeId) }}</td>
      </ng-container>

      <ng-container matColumnDef="actualCookTime">
        <th mat-header-cell *matHeaderCellDef class="cook-sessions__table-header">Cook Time</th>
        <td mat-cell *matCellDef="let session" class="cook-sessions__table-cell">{{ session.actualCookTimeMinutes }} min</td>
      </ng-container>

      <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef class="cook-sessions__table-header">Temperature</th>
        <td mat-cell *matCellDef="let session" class="cook-sessions__table-cell">{{ session.temperatureUsed || 'N/A' }}</td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef class="cook-sessions__table-header">Rating</th>
        <td mat-cell *matCellDef="let session" class="cook-sessions__table-cell">
          <span *ngIf="session.rating" class="cook-sessions__rating">
            @for (star of [1,2,3,4,5]; track star) {
              <mat-icon class="cook-sessions__star" [class.cook-sessions__star--filled]="star <= session.rating">star</mat-icon>
            }
          </span>
          <span *ngIf="!session.rating">N/A</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="wasSuccessful">
        <th mat-header-cell *matHeaderCellDef class="cook-sessions__table-header">Successful</th>
        <td mat-cell *matCellDef="let session" class="cook-sessions__table-cell">
          <mat-icon *ngIf="session.wasSuccessful" class="cook-sessions__success-icon">check_circle</mat-icon>
          <mat-icon *ngIf="!session.wasSuccessful" class="cook-sessions__fail-icon">cancel</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="cook-sessions__table-header">Actions</th>
        <td mat-cell *matCellDef="let session" class="cook-sessions__table-cell">
          <button mat-icon-button color="primary" (click)="openDialog(session)" class="cook-sessions__action-button">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCookSession(session.cookSessionId)" class="cook-sessions__action-button">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="cook-sessions__table-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cook-sessions__table-row"></tr>
    </table>
  </div>
</div>
