.projects {
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
  }

  &__card {
    mat-card-content {
      padding: 0;
    }
  }

  &__table {
    width: 100%;

    th {
      font-weight: 500;
    }
  }
}
