.category-form {
  &__title {
    margin: 0;
  }

  &__content {
    min-width: 400px;
    padding: 24px 24px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__field {
    width: 100%;
  }

  &__actions {
    padding: 16px 24px;
  }
}
