<mat-toolbar color="primary" class="header">
  <span class="header__title">Roadside Assistance Info Hub</span>
  <nav class="header__nav">
    <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">Dashboard</a>
    <a mat-button routerLink="/vehicles" routerLinkActive="header__nav-link--active" class="header__nav-link">Vehicles</a>
    <a mat-button routerLink="/emergency-contacts" routerLinkActive="header__nav-link--active" class="header__nav-link">Emergency Contacts</a>
    <a mat-button routerLink="/insurance-infos" routerLinkActive="header__nav-link--active" class="header__nav-link">Insurance</a>
    <a mat-button routerLink="/policies" routerLinkActive="header__nav-link--active" class="header__nav-link">Policies</a>
  </nav>
</mat-toolbar>
