/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

$charitable-giving-primary: mat.define-palette(mat.$indigo-palette);
$charitable-giving-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$charitable-giving-warn: mat.define-palette(mat.$red-palette);

$charitable-giving-theme: mat.define-light-theme((
  color: (
    primary: $charitable-giving-primary,
    accent: $charitable-giving-accent,
    warn: $charitable-giving-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($charitable-giving-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
