<mat-toolbar color="primary" class="header">
  <span class="header__title">Annual Health Screening Reminder</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a mat-button routerLink="/screenings" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>medical_services</mat-icon>
      Screenings
    </a>
    <a mat-button routerLink="/appointments" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>event</mat-icon>
      Appointments
    </a>
    <a mat-button routerLink="/reminders" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>notifications</mat-icon>
      Reminders
    </a>
  </nav>
</mat-toolbar>
