.compensation-form-dialog {
  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  &__field {
    width: 100%;
    margin-bottom: 0.5rem;

    &--half {
      width: calc(50% - 0.5rem);
    }
  }

  &__row {
    display: flex;
    gap: 1rem;
  }
}
