<mat-toolbar color="primary" class="header">
  <span class="header__title">Fuel Economy Tracker</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a mat-button routerLink="/vehicles" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Vehicles
    </a>
    <a mat-button routerLink="/fill-ups" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Fill-Ups
    </a>
    <a mat-button routerLink="/trips" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Trips
    </a>
    <a mat-button routerLink="/reports" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Reports
    </a>
  </nav>
</mat-toolbar>
