.appliances-list {
  padding: 24px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
  }

  &__card {
    width: 100%;
  }

  &__empty {
    text-align: center;
    padding: 48px 24px;

    mat-icon {
      font-size: 64px;
      width: 64px;
      height: 64px;
      opacity: 0.3;
    }

    p {
      font-size: 16px;
      opacity: 0.7;
      margin: 16px 0 24px;
    }
  }

  &__table {
    width: 100%;
  }

  &__row {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}
