<mat-toolbar color="primary" class="header">
  <div class="header__container">
    <div class="header__brand">
      <button mat-icon-button routerLink="/" class="header__logo-button">
        <mat-icon>receipt_long</mat-icon>
      </button>
      <span class="header__title" routerLink="/">Warranty & Return Tracker</span>
    </div>
    <nav class="header__nav">
      <button mat-button routerLink="/" class="header__nav-item">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-button routerLink="/purchases" class="header__nav-item">
        <mat-icon>shopping_cart</mat-icon>
        <span>Purchases</span>
      </button>
      <button mat-button routerLink="/receipts" class="header__nav-item">
        <mat-icon>receipt</mat-icon>
        <span>Receipts</span>
      </button>
      <button mat-button routerLink="/return-windows" class="header__nav-item">
        <mat-icon>assignment_return</mat-icon>
        <span>Return Windows</span>
      </button>
      <button mat-button routerLink="/warranties" class="header__nav-item">
        <mat-icon>verified_user</mat-icon>
        <span>Warranties</span>
      </button>
    </nav>
  </div>
</mat-toolbar>
