@use '@angular/material' as mat;

@include mat.core();

$classic-car-primary: mat.define-palette(mat.$indigo-palette);
$classic-car-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$classic-car-warn: mat.define-palette(mat.$red-palette);

$classic-car-theme: mat.define-light-theme((
  color: (
    primary: $classic-car-primary,
    accent: $classic-car-accent,
    warn: $classic-car-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($classic-car-theme);

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}
