@use '@angular/material' as mat;

@include mat.core();

$wine-cellar-primary: mat.define-palette(mat.$indigo-palette);
$wine-cellar-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$wine-cellar-warn: mat.define-palette(mat.$red-palette);

$wine-cellar-theme: mat.define-light-theme((
  color: (
    primary: $wine-cellar-primary,
    accent: $wine-cellar-accent,
    warn: $wine-cellar-warn,
  )
));

@include mat.all-component-themes($wine-cellar-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
