.event-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 450px;
  padding-top: 16px;
}

.full-width {
  width: 100%;
}

.date-time-row {
  display: flex;
  gap: 16px;
}

.date-field {
  flex: 2;
}

.time-field {
  flex: 1;
}
