<div class="meal-plans">
  <div class="meal-plans__header">
    <h1 class="meal-plans__title">Meal Plans</h1>
  </div>

  @if (loading$ | async) {
    <div class="meal-plans__loading">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    @if (mealPlans$ | async; as mealPlans) {
      @if (mealPlans.length === 0) {
        <div class="meal-plans__empty">
          <mat-icon>calendar_today</mat-icon>
          <p>No meal plans found. Create your first meal plan!</p>
        </div>
      } @else {
        <table mat-table [dataSource]="mealPlans" class="meal-plans__table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let mealPlan">{{ mealPlan.name }}</td>
          </ng-container>

          <ng-container matColumnDef="mealDate">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let mealPlan">
              {{ mealPlan.mealDate | date: 'mediumDate' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="mealType">
            <th mat-header-cell *matHeaderCellDef>Meal Type</th>
            <td mat-cell *matCellDef="let mealPlan">{{ mealPlan.mealType }}</td>
          </ng-container>

          <ng-container matColumnDef="isPrepared">
            <th mat-header-cell *matHeaderCellDef>Prepared</th>
            <td mat-cell *matCellDef="let mealPlan">
              <mat-checkbox
                [checked]="mealPlan.isPrepared"
                (change)="togglePrepared(mealPlan)"
              ></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let mealPlan">
              <button mat-icon-button color="warn" (click)="onDelete(mealPlan.mealPlanId)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      }
    }
  }
</div>
