<mat-toolbar class="header" color="primary">
  <div class="header__container">
    <div class="header__logo">
      <mat-icon class="header__icon">account_balance</mat-icon>
      <span class="header__title">{{ title }}</span>
    </div>
    <nav class="header__nav">
      <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-button routerLink="/digital-accounts" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>account_circle</mat-icon>
        Accounts
      </a>
      <a mat-button routerLink="/legacy-documents" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>description</mat-icon>
        Documents
      </a>
      <a mat-button routerLink="/legacy-instructions" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>assignment</mat-icon>
        Instructions
      </a>
      <a mat-button routerLink="/trusted-contacts" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>contacts</mat-icon>
        Contacts
      </a>
    </nav>
  </div>
</mat-toolbar>
