<mat-toolbar color="primary" class="header">
  <span class="header__title">Motorcycle Ride Log</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a mat-button routerLink="/motorcycles" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>two_wheeler</mat-icon>
      Motorcycles
    </a>
    <a mat-button routerLink="/rides" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>route</mat-icon>
      Rides
    </a>
    <a mat-button routerLink="/maintenance" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>build</mat-icon>
      Maintenance
    </a>
    <a mat-button routerLink="/routes" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>map</mat-icon>
      Routes
    </a>
  </nav>
</mat-toolbar>
