/* You can add global styles to this file, and also import other style files */

// Material Design Theme
@use '@angular/material' as mat;

@include mat.core();

// Define the theme
$meal-prep-planner-primary: mat.define-palette(mat.$indigo-palette);
$meal-prep-planner-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$meal-prep-planner-warn: mat.define-palette(mat.$red-palette);

$meal-prep-planner-theme: mat.define-light-theme((
  color: (
    primary: $meal-prep-planner-primary,
    accent: $meal-prep-planner-accent,
    warn: $meal-prep-planner-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($meal-prep-planner-theme);

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
