<mat-toolbar color="primary" class="header">
  <div class="header__container">
    <a routerLink="/" class="header__logo">
      <mat-icon class="header__logo-icon">mail</mat-icon>
      <span class="header__logo-text">Letter To Future Self</span>
    </a>
    <nav class="header__nav">
      <a mat-button routerLink="/" routerLinkActive="header__nav-link--active" [routerLinkActiveOptions]="{exact: true}" class="header__nav-link">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-button routerLink="/letters" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>mail_outline</mat-icon>
        <span>Letters</span>
      </a>
      <a mat-button routerLink="/delivery-schedules" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>schedule</mat-icon>
        <span>Delivery Schedules</span>
      </a>
    </nav>
  </div>
</mat-toolbar>
