@use '@angular/material' as mat;

@include mat.core();

$bill-payment-scheduler-primary: mat.define-palette(mat.$indigo-palette);
$bill-payment-scheduler-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$bill-payment-scheduler-warn: mat.define-palette(mat.$red-palette);

$bill-payment-scheduler-theme: mat.define-light-theme((
  color: (
    primary: $bill-payment-scheduler-primary,
    accent: $bill-payment-scheduler-accent,
    warn: $bill-payment-scheduler-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($bill-payment-scheduler-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
