<div class="contacts">
  <div class="contacts__header">
    <h1 class="contacts__title">Contacts</h1>
    <button mat-raised-button color="primary" (click)="openCreateDialog()" class="contacts__add-btn">
      <mat-icon>add</mat-icon>
      New Contact
    </button>
  </div>

  <div class="contacts__content" *ngIf="!(loading$ | async); else loadingTemplate">
    <div class="contacts__grid" *ngIf="(contacts$ | async) as contacts">
      <div *ngIf="contacts.length === 0" class="contacts__empty">
        <mat-icon class="contacts__empty-icon">people_outline</mat-icon>
        <p class="contacts__empty-text">No contacts yet</p>
        <button mat-raised-button color="primary" (click)="openCreateDialog()">
          Create your first contact
        </button>
      </div>

      <app-contact-card
        *ngFor="let contact of contacts"
        [contact]="contact"
        (edit)="onEditContact($event)"
        (delete)="onDeleteContact($event)"
        (viewDetails)="onViewDetails($event)">
      </app-contact-card>
    </div>
  </div>

  <ng-template #loadingTemplate>
    <div class="contacts__loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
