<mat-toolbar color="primary" class="header">
  <div class="header__container">
    <div class="header__brand">
      <mat-icon class="header__icon">card_giftcard</mat-icon>
      <span class="header__title">Gift Registry Organizer</span>
    </div>
    <nav class="header__nav">
      <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-button routerLink="/registries" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>list_alt</mat-icon>
        Registries
      </a>
      <a mat-button routerLink="/registry-items" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>inventory_2</mat-icon>
        Items
      </a>
      <a mat-button routerLink="/contributions" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>volunteer_activism</mat-icon>
        Contributions
      </a>
    </nav>
  </div>
</mat-toolbar>
