@use '../../../styles/tokens' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 500;
}

.header__nav {
  display: flex;
  gap: $space-element-gap-sm;
}

.header__nav-link {
  color: white;
}

.header__nav-link--active {
  background-color: rgba(255, 255, 255, 0.1);
}

.header__spacer {
  flex: 1 1 auto;
}

.header__user {
  color: white;
  margin-right: $space-element-gap;
  font-weight: 500;
}

.header__logout {
  color: white;
}
