.dialog-title {
  display: flex;
  align-items: center;
  gap: 8px;

  mat-icon {
    font-size: 28px;
    height: 28px;
    width: 28px;
  }
}

.dialog-message {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin: 8px 0;
  min-width: 350px;
}
