@use '../../../styles/tokens' as *;

.competitors-list {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-6;

    h1 {
      margin: 0;
      font-weight: 400;
    }
  }

  &__table {
    width: 100%;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: $spacing-2;
  }

  &__link {
    color: $color-text-secondary;
    display: flex;

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }

    &:hover {
      color: $color-primary;
    }
  }
}

.position-chip {
  &--0 { background-color: $color-success-light !important; color: $color-success !important; }
  &--1 { background-color: $color-warning-light !important; color: $color-warning !important; }
  &--2 { background-color: $color-primary-light !important; color: $color-primary !important; }
  &--3 { background-color: $color-border !important; color: $color-text-secondary !important; }
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-12;
  text-align: center;

  mat-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
    color: $color-text-disabled;
    margin-bottom: $spacing-4;
  }

  p {
    color: $color-text-secondary;
    font-size: 16px;
    margin: 0 0 $spacing-4;
  }
}
