/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$bucket-list-primary: mat.define-palette(mat.$indigo-palette);
$bucket-list-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$bucket-list-warn: mat.define-palette(mat.$red-palette);

$bucket-list-theme: mat.define-light-theme((
  color: (
    primary: $bucket-list-primary,
    accent: $bucket-list-accent,
    warn: $bucket-list-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($bucket-list-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
