.recipe-dialog {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 500px;
  }

  &__field {
    width: 100%;
  }

  &__row {
    display: flex;
    gap: 1rem;

    .recipe-dialog__field {
      flex: 1;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 1rem;
  }
}
