.header {
  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__nav {
    display: flex;
    gap: 8px;
  }

  &__nav-link {
    display: flex;
    align-items: center;
    gap: 4px;

    &--active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}
