<div class="bills" *ngIf="viewModel$ | async as vm">
  <div class="bills__header">
    <h1 class="bills__title">Bills</h1>
    <button mat-raised-button color="primary" (click)="onCreateBill()">
      <mat-icon>add</mat-icon>
      Create Bill
    </button>
  </div>

  <div class="bills__grid">
    <app-bill-card
      *ngFor="let bill of vm.bills"
      [bill]="bill"
      (edit)="onEditBill($event)"
      (delete)="onDeleteBill($event)"
      (pay)="onPayBill($event)"
    ></app-bill-card>
  </div>

  <p class="bills__empty" *ngIf="vm.bills.length === 0">
    No bills found. Click "Create Bill" to add your first bill.
  </p>
</div>
