<div class="tasks">
  <div class="tasks__header">
    <h1 class="tasks__title">All Tasks</h1>
    <button mat-raised-button color="primary" (click)="onCreateTask()">
      <mat-icon>add</mat-icon>
      New Task
    </button>
  </div>

  <div class="tasks__list">
    <app-task-card
      *ngFor="let task of tasks$ | async"
      [task]="task"
      (delete)="onDeleteTask($event)"
      (edit)="onEditTask($event)"
      (statusChange)="onStatusChange($event)">
    </app-task-card>
    <div *ngIf="(tasks$ | async)?.length === 0" class="tasks__empty">
      No tasks yet. Create your first task to get started!
    </div>
  </div>
</div>
