.create-task-dialog {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 400px;
  }

  &__field {
    width: 100%;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
