/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

$book-reading-tracker-primary: mat.define-palette(mat.$indigo-palette);
$book-reading-tracker-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$book-reading-tracker-warn: mat.define-palette(mat.$red-palette);

$book-reading-tracker-theme: mat.define-light-theme((
  color: (
    primary: $book-reading-tracker-primary,
    accent: $book-reading-tracker-accent,
    warn: $book-reading-tracker-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($book-reading-tracker-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
