/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$conversation-starter-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$conversation-starter-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$conversation-starter-warn: mat.m2-define-palette(mat.$m2-red-palette);

$conversation-starter-theme: mat.m2-define-light-theme((
  color: (
    primary: $conversation-starter-primary,
    accent: $conversation-starter-accent,
    warn: $conversation-starter-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($conversation-starter-theme);

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
