<mat-toolbar color="primary" class="header">
  <span class="header__title">Side Hustle Income Tracker</span>
  <nav class="header__nav">
    <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Dashboard
    </a>
    <a mat-button routerLink="/businesses" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Businesses
    </a>
    <a mat-button routerLink="/incomes" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Income
    </a>
    <a mat-button routerLink="/expenses" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Expenses
    </a>
    <a mat-button routerLink="/tax-estimates" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Tax Estimates
    </a>
  </nav>
</mat-toolbar>
