.subscription-form {
  &__title {
    margin: 0;
  }

  &__content {
    min-width: 500px;
    padding: 24px 24px 0;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  &__field {
    width: 100%;

    &--full {
      grid-column: 1 / -1;
    }
  }

  &__actions {
    padding: 16px 24px;
  }
}
