<mat-card class="item-card" [class.item-card--checked]="item.isChecked">
  <mat-card-content class="item-card__content">
    <mat-checkbox
      [checked]="item.isChecked"
      (change)="onToggle()"
      class="item-card__checkbox">
    </mat-checkbox>
    <div class="item-card__info">
      <span class="item-card__name" [class.item-card__name--checked]="item.isChecked">
        {{ item.name }}
      </span>
      <div class="item-card__details">
        <mat-chip-set>
          <mat-chip>{{ item.category }}</mat-chip>
          <mat-chip>Qty: {{ item.quantity }}</mat-chip>
        </mat-chip-set>
      </div>
    </div>
    <button mat-icon-button color="warn" (click)="onDelete()" class="item-card__delete">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
