.chores-list {
  padding: 1.5rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &__title {
    margin: 0;
  }

  &__table {
    width: 100%;
  }

  &__chip {
    &--active {
      background-color: #4caf50 !important;
      color: white;
    }

    &--inactive {
      background-color: #9e9e9e !important;
      color: white;
    }
  }
}
