/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$sports-team-following-tracker-primary: mat.define-palette(mat.$indigo-palette);
$sports-team-following-tracker-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$sports-team-following-tracker-warn: mat.define-palette(mat.$red-palette);

$sports-team-following-tracker-theme: mat.define-light-theme((
  color: (
    primary: $sports-team-following-tracker-primary,
    accent: $sports-team-following-tracker-accent,
    warn: $sports-team-following-tracker-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($sports-team-following-tracker-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
