<mat-toolbar class="header" color="primary">
  <span class="header__title">Personal Library Lessons Learned</span>
  <nav class="header__nav">
    <a mat-button routerLink="/" routerLinkActive="header__nav-link--active" [routerLinkActiveOptions]="{exact: true}" class="header__nav-link">Dashboard</a>
    <a mat-button routerLink="/lessons" routerLinkActive="header__nav-link--active" class="header__nav-link">Lessons</a>
    <a mat-button routerLink="/sources" routerLinkActive="header__nav-link--active" class="header__nav-link">Sources</a>
    <a mat-button routerLink="/reminders" routerLinkActive="header__nav-link--active" class="header__nav-link">Reminders</a>
  </nav>
</mat-toolbar>
