@use '../../../styles/tokens' as *;

.app__container {
  min-height: calc(100vh - $header-height);
}

.app__sidenav {
  width: $sidebar-width;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding: $sidebar-padding;
}

.app__content {
  background-color: #f5f5f5;
}

.app__main {
  padding: $space-page-padding;
  min-height: 100%;
}
