.app__container {
  min-height: calc(100vh - 64px);
}

.app__sidenav {
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding: 1rem;
}

.app__content {
  background-color: #f5f5f5;
}

.app__main {
  padding: 2rem;
  min-height: 100%;
}
