<div class="wishlist">
  <div class="wishlist__container">
    <div class="wishlist__header">
      <h1 class="wishlist__title">Wishlist</h1>
      <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Add to Wishlist
      </button>
    </div>

    <ng-container *ngIf="wishlists$ | async as items">
      <div class="wishlist__grid" *ngIf="items.length > 0; else noItems">
        <mat-card *ngFor="let item of items" class="wishlist__card">
          <mat-card-header>
            <mat-card-title>{{ item.title }}</mat-card-title>
            <mat-card-subtitle>{{ item.author }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-chip-set>
              <mat-chip *ngIf="item.genre">{{ item.genre }}</mat-chip>
              <mat-chip>Priority: {{ item.priority }}</mat-chip>
            </mat-chip-set>
            <p class="wishlist__notes" *ngIf="item.notes">{{ item.notes }}</p>
            <p class="wishlist__isbn" *ngIf="item.isbn">ISBN: {{ item.isbn }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="onMarkAsAcquired(item)">
              <mat-icon>check</mat-icon>
              Mark as Acquired
            </button>
            <button mat-button>
              <mat-icon>edit</mat-icon>
              Edit
            </button>
            <button mat-button color="warn" (click)="onDeleteWishlist(item)">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <ng-template #noItems>
        <div class="wishlist__empty">
          <mat-icon>star</mat-icon>
          <p>Your wishlist is empty. Add books you want to read!</p>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
