<mat-toolbar color="primary" class="header">
  <div class="header__container">
    <a routerLink="/" class="header__title">
      <mat-icon class="header__icon">favorite</mat-icon>
      <span>{{ title }}</span>
    </a>
    <div class="header__actions">
      <button mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button aria-label="Notifications">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button aria-label="User menu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
