<div class="destinations">
  <div class="destinations__header">
    <h1 class="destinations__title">My Destinations</h1>
    <button mat-raised-button color="primary" (click)="onAdd()">
      <mat-icon>add</mat-icon>
      Add Destination
    </button>
  </div>

  <div class="destinations__grid" *ngIf="destinations$ | async as destinations">
    <ng-container *ngIf="destinations.length > 0; else noDestinations">
      <app-destination-card
        *ngFor="let destination of destinations"
        [destination]="destination"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
        (markVisited)="onMarkVisited($event)"
      ></app-destination-card>
    </ng-container>
  </div>

  <ng-template #noDestinations>
    <div class="destinations__empty">
      <mat-icon>travel_explore</mat-icon>
      <h2>No destinations yet</h2>
      <p>Start adding your dream travel destinations!</p>
      <button mat-raised-button color="primary" (click)="onAdd()">
        <mat-icon>add</mat-icon>
        Add Your First Destination
      </button>
    </div>
  </ng-template>
</div>
