.income-form {
  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    min-width: 500px;
  }

  &__field {
    width: 100%;

    &--full {
      grid-column: 1 / -1;
    }
  }

  &__checkbox {
    grid-column: 1 / -1;
  }
}
