<mat-toolbar color="primary" class="header">
  <span class="header__title">Home Gym Equipment Manager</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a mat-button routerLink="/equipment" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Equipment
    </a>
    <a mat-button routerLink="/maintenance" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Maintenance
    </a>
    <a mat-button routerLink="/workouts" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Workouts
    </a>
  </nav>
</mat-toolbar>
