<mat-toolbar color="primary" class="header">
  <span class="header__title">Stress Mood Tracker</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a mat-button routerLink="/mood-entries" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>sentiment_satisfied</mat-icon>
      Mood Entries
    </a>
    <a mat-button routerLink="/journals" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>menu_book</mat-icon>
      Journals
    </a>
    <a mat-button routerLink="/triggers" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>notification_important</mat-icon>
      Triggers
    </a>
  </nav>
</mat-toolbar>
