<mat-toolbar color="primary" class="header">
  <span class="header__title">Gift Idea Tracker</span>

  <nav class="header__nav">
    <a mat-button routerLink="/" routerLinkActive="header__nav-link--active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a mat-button routerLink="/recipients" routerLinkActive="header__nav-link--active">
      <mat-icon>people</mat-icon>
      Recipients
    </a>
    <a mat-button routerLink="/gift-ideas" routerLinkActive="header__nav-link--active">
      <mat-icon>card_giftcard</mat-icon>
      Ideas
    </a>
    <a mat-button routerLink="/purchases" routerLinkActive="header__nav-link--active">
      <mat-icon>shopping_cart</mat-icon>
      Purchases
    </a>
  </nav>

  <span class="header__spacer"></span>

  <button mat-raised-button (click)="onAddGiftIdeaClick()">
    <mat-icon>add</mat-icon>
    Add Idea
  </button>
</mat-toolbar>
