<mat-toolbar color="primary" class="header">
  <div class="header__container">
    <a routerLink="/" class="header__logo">
      <mat-icon class="header__icon">favorite</mat-icon>
      <span class="header__title">{{ title }}</span>
    </a>
    <nav class="header__nav">
      <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
        Dashboard
      </a>
      <a mat-button routerLink="/goals" routerLinkActive="header__nav-link--active" class="header__nav-link">
        Goals
      </a>
    </nav>
  </div>
</mat-toolbar>
