/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$letter-to-future-self-primary: mat.define-palette(mat.$indigo-palette);
$letter-to-future-self-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$letter-to-future-self-warn: mat.define-palette(mat.$red-palette);

$letter-to-future-self-theme: mat.define-light-theme((
  color: (
    primary: $letter-to-future-self-primary,
    accent: $letter-to-future-self-accent,
    warn: $letter-to-future-self-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($letter-to-future-self-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
