<mat-toolbar color="primary" class="header">
  <span class="header__title" routerLink="/">Video Game Collection Manager</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a mat-button routerLink="/" routerLinkActive="header__nav-link--active" [routerLinkActiveOptions]="{exact: true}" class="header__nav-link">Dashboard</a>
    <a mat-button routerLink="/games" routerLinkActive="header__nav-link--active" class="header__nav-link">Games</a>
    <a mat-button routerLink="/play-sessions" routerLinkActive="header__nav-link--active" class="header__nav-link">Play Sessions</a>
    <a mat-button routerLink="/wishlists" routerLinkActive="header__nav-link--active" class="header__nav-link">Wishlist</a>
  </nav>
</mat-toolbar>
