<mat-toolbar color="primary" class="header">
  <span class="header__title">{{ title }}</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Dashboard
    </a>
    <a mat-button routerLink="/campsites" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Campsites
    </a>
    <a mat-button routerLink="/trips" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Trips
    </a>
    <a mat-button routerLink="/gear-checklists" routerLinkActive="header__nav-link--active" class="header__nav-link">
      Gear Checklists
    </a>
  </nav>
</mat-toolbar>
