.budget-dialog {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 500px;
    padding: 16px 0;
  }

  &__date-range {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
