.event-dialog {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 500px;
  }

  &__date-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
