<mat-sidenav-container class="app-shell">
  <mat-sidenav mode="side" opened class="app-shell__sidenav">
    <div class="app-shell__logo">
      <mat-icon>cake</mat-icon>
      <span>Celebrations</span>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navItems" [routerLink]="item.path" routerLinkActive="app-shell__nav-active" [routerLinkActiveOptions]="{exact: item.path === '/'}">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-shell__content">
    <mat-toolbar color="primary" class="app-shell__toolbar">
      <span>{{ title }}</span>
    </mat-toolbar>
    <main class="app-shell__main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
