<mat-toolbar class="header" color="primary">
  <div class="header__container">
    <div class="header__brand">
      <mat-icon class="header__icon">water_drop</mat-icon>
      <span class="header__title">Hydration Tracker</span>
    </div>
    <nav class="header__nav">
      <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-button routerLink="/intakes" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>local_drink</mat-icon>
        Intakes
      </a>
      <a mat-button routerLink="/goals" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>flag</mat-icon>
        Goals
      </a>
      <a mat-button routerLink="/reminders" routerLinkActive="header__nav-link--active" class="header__nav-link">
        <mat-icon>notifications</mat-icon>
        Reminders
      </a>
    </nav>
  </div>
</mat-toolbar>
