.value-estimate-dialog {
  min-width: 400px;
  max-width: 500px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__field {
    width: 100%;
  }

  &__actions {
    padding: 16px 24px;
    gap: 8px;
  }
}

@media (max-width: 600px) {
  .value-estimate-dialog {
    min-width: unset;
    width: 100%;
  }
}
