.wishlist-form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  padding: 1rem 0;

  &__field {
    width: 100%;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &__checkbox {
    margin-top: 1rem;
  }
}
