.header {
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    font-size: 28px;
    width: 28px;
    height: 28px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__nav {
    display: flex;
    gap: 8px;
  }

  &__nav-link {
    &--active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
