<mat-toolbar class="header" color="primary">
  <span class="header__title">Recipe Manager & Meal Planner</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a
      mat-button
      routerLink="/dashboard"
      routerLinkActive="header__nav-link--active"
      class="header__nav-link"
    >
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a
      mat-button
      routerLink="/recipes"
      routerLinkActive="header__nav-link--active"
      class="header__nav-link"
    >
      <mat-icon>restaurant_menu</mat-icon>
      Recipes
    </a>
    <a
      mat-button
      routerLink="/meal-plans"
      routerLinkActive="header__nav-link--active"
      class="header__nav-link"
    >
      <mat-icon>calendar_today</mat-icon>
      Meal Plans
    </a>
    <a
      mat-button
      routerLink="/shopping-lists"
      routerLinkActive="header__nav-link--active"
      class="header__nav-link"
    >
      <mat-icon>shopping_cart</mat-icon>
      Shopping Lists
    </a>
  </nav>
</mat-toolbar>
