.beneficiary-list {
  padding: 24px;

  &__header {
    margin-bottom: 24px;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
  }

  &__table {
    width: 100%;
  }

  &__primary-icon {
    color: green;
  }

  &__empty {
    padding: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}
