/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

// Define the theme using the default Material 3 theme
$habit-formation-app-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
));

// Apply the theme
:root {
  @include mat.all-component-themes($habit-formation-app-theme);
}

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
