<div class="tax-lots-list">
  <div class="tax-lots-list__header">
    <h1 class="tax-lots-list__title">Tax Lots</h1>
    <button mat-raised-button color="primary" class="tax-lots-list__add-button">
      <mat-icon>add</mat-icon>
      Add Tax Lot
    </button>
  </div>

  <mat-card class="tax-lots-list__card">
    <mat-card-content>
      <table mat-table [dataSource]="(taxLots$ | async) || []" class="tax-lots-list__table">
        <ng-container matColumnDef="acquisitionDate">
          <th mat-header-cell *matHeaderCellDef>Acquisition Date</th>
          <td mat-cell *matCellDef="let taxLot">{{ taxLot.acquisitionDate | date }}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let taxLot">{{ taxLot.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="costBasis">
          <th mat-header-cell *matHeaderCellDef>Cost Basis</th>
          <td mat-cell *matCellDef="let taxLot">{{ taxLot.costBasis | currency }}</td>
        </ng-container>

        <ng-container matColumnDef="isDisposed">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let taxLot">
            <span [class.tax-lots-list__status--disposed]="taxLot.isDisposed"
                  [class.tax-lots-list__status--active]="!taxLot.isDisposed"
                  class="tax-lots-list__status">
              {{ taxLot.isDisposed ? 'Disposed' : 'Active' }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="disposalDate">
          <th mat-header-cell *matHeaderCellDef>Disposal Date</th>
          <td mat-cell *matCellDef="let taxLot">{{ taxLot.disposalDate ? (taxLot.disposalDate | date) : 'N/A' }}</td>
        </ng-container>

        <ng-container matColumnDef="realizedGainLoss">
          <th mat-header-cell *matHeaderCellDef>Realized Gain/Loss</th>
          <td mat-cell *matCellDef="let taxLot">
            <span *ngIf="taxLot.realizedGainLoss !== null && taxLot.realizedGainLoss !== undefined"
                  [class.tax-lots-list__gain]="taxLot.realizedGainLoss > 0"
                  [class.tax-lots-list__loss]="taxLot.realizedGainLoss < 0">
              {{ taxLot.realizedGainLoss | currency }}
            </span>
            <span *ngIf="taxLot.realizedGainLoss === null || taxLot.realizedGainLoss === undefined">N/A</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let taxLot">
            <button mat-icon-button [routerLink]="['/tax-lots', taxLot.taxLotId]" class="tax-lots-list__action-button">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteTaxLot(taxLot.taxLotId)" class="tax-lots-list__action-button">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
