@use './tokens' as *;
@use './utilities';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
