@use '@angular/material' as mat;

@include mat.core();

$expense-claim-system-primary: mat.define-palette(mat.$indigo-palette);
$expense-claim-system-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$expense-claim-system-warn: mat.define-palette(mat.$red-palette);

$expense-claim-system-theme: mat.define-light-theme((
  color: (
    primary: $expense-claim-system-primary,
    accent: $expense-claim-system-accent,
    warn: $expense-claim-system-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($expense-claim-system-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
