<mat-toolbar color="primary" class="header">
  <span class="header__title">Salary & Compensation Tracker</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a mat-button routerLink="/compensations" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>paid</mat-icon>
      Compensations
    </a>
    <a mat-button routerLink="/benefits" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>card_giftcard</mat-icon>
      Benefits
    </a>
    <a mat-button routerLink="/market-comparisons" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>analytics</mat-icon>
      Market Data
    </a>
  </nav>
</mat-toolbar>
