.registry-item-dialog {
  &__content {
    min-width: 400px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__field {
    width: 100%;
  }

  &__checkbox {
    margin-top: 8px;
  }

  &__actions {
    padding: 16px;
    justify-content: flex-end;
  }
}
