/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$neighborhood-social-network-primary: mat.define-palette(mat.$indigo-palette);
$neighborhood-social-network-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$neighborhood-social-network-warn: mat.define-palette(mat.$red-palette);

$neighborhood-social-network-theme: mat.define-light-theme((
  color: (
    primary: $neighborhood-social-network-primary,
    accent: $neighborhood-social-network-accent,
    warn: $neighborhood-social-network-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($neighborhood-social-network-theme);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
