.dashboard {
  padding: 24px;
  min-height: calc(100vh - 64px);

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
  }

  &__subtitle {
    margin: 4px 0 0 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }

  &__content {
    position: relative;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }

  &__empty-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
    opacity: 0.5;
  }
}
