@use '../../../styles/tokens' as *;

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    padding: $spacing-4 $spacing-6 $spacing-4;
    border-bottom: 1px solid $color-border;
    margin-bottom: $spacing-2;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    color: $color-text-primary;
  }

  &__subtitle {
    font-size: 12px;
    color: $color-text-secondary;
    margin-top: $spacing-1;
  }

  &__section-title {
    font-size: 11px;
    font-weight: 500;
    color: $color-text-secondary;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: $spacing-4 $spacing-6 $spacing-2;
  }

  &__nav {
    padding: 0 $spacing-2;
  }

  &__item {
    margin-bottom: $sidebar-item-gap;
    border-radius: $border-radius-md;

    &--active {
      background-color: $color-primary-light;
      color: $color-primary;

      .sidebar__icon {
        color: $color-primary;
      }

      .sidebar__count {
        background-color: rgba(63, 81, 181, 0.2);
        color: $color-primary;
      }
    }

    &:hover:not(.sidebar__item--active) {
      background-color: $color-bg-hover;
    }
  }

  &__icon {
    color: $color-text-secondary;
  }

  &__label {
    font-weight: 500;
  }

  &__count {
    background-color: $color-border;
    padding: $spacing-1 $spacing-2;
    border-radius: $border-radius-lg;
    font-size: 12px;
    font-weight: 600;
    min-width: 24px;
    text-align: center;
  }

  &__divider {
    margin: $spacing-2 $spacing-4;
  }
}
