/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$weekly-review-system-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$weekly-review-system-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$weekly-review-system-warn: mat.m2-define-palette(mat.$m2-red-palette);

$weekly-review-system-theme: mat.m2-define-light-theme((
  color: (
    primary: $weekly-review-system-primary,
    accent: $weekly-review-system-accent,
    warn: $weekly-review-system-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($weekly-review-system-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
