.category-dialog {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
  }

  &__field {
    width: 100%;
  }

  &__checkbox {
    margin-top: 0.5rem;
  }
}
