.header {
  &__title {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__nav {
    display: flex;
    gap: 0.5rem;

    a {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      mat-icon {
        font-size: 1.125rem;
        width: 1.125rem;
        height: 1.125rem;
      }
    }

    &-link--active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
