<mat-toolbar color="primary" class="header">
  <span class="header__title">{{ title }}</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a mat-button routerLink="/" routerLinkActive="header__nav-link--active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>home</mat-icon>
      Dashboard
    </a>
    <a mat-button routerLink="/date-ideas" routerLinkActive="header__nav-link--active">
      <mat-icon>lightbulb</mat-icon>
      Date Ideas
    </a>
    <a mat-button routerLink="/experiences" routerLinkActive="header__nav-link--active">
      <mat-icon>event</mat-icon>
      Experiences
    </a>
    <a mat-button routerLink="/favorites" routerLinkActive="header__nav-link--active">
      <mat-icon>favorite</mat-icon>
      Favorites
    </a>
  </nav>
</mat-toolbar>
