<div class="insurance-infos">
  <div class="insurance-infos__header">
    <h1 class="insurance-infos__title">Insurance Information</h1>
    <button mat-raised-button color="primary" (click)="openCreateDialog()">
      <mat-icon>add</mat-icon>
      Add Insurance Info
    </button>
  </div>

  <mat-card class="insurance-infos__card">
    <mat-card-content>
      <table mat-table [dataSource]="insuranceInfos$ | async" class="insurance-infos__table">
        <ng-container matColumnDef="insuranceCompany">
          <th mat-header-cell *matHeaderCellDef>Insurance Company</th>
          <td mat-cell *matCellDef="let info">{{ info.insuranceCompany }}</td>
        </ng-container>

        <ng-container matColumnDef="policyNumber">
          <th mat-header-cell *matHeaderCellDef>Policy Number</th>
          <td mat-cell *matCellDef="let info">{{ info.policyNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="policyHolder">
          <th mat-header-cell *matHeaderCellDef>Policy Holder</th>
          <td mat-cell *matCellDef="let info">{{ info.policyHolder }}</td>
        </ng-container>

        <ng-container matColumnDef="policyEndDate">
          <th mat-header-cell *matHeaderCellDef>End Date</th>
          <td mat-cell *matCellDef="let info">{{ info.policyEndDate | date }}</td>
        </ng-container>

        <ng-container matColumnDef="includesRoadsideAssistance">
          <th mat-header-cell *matHeaderCellDef>Roadside Assistance</th>
          <td mat-cell *matCellDef="let info">
            <mat-icon *ngIf="info.includesRoadsideAssistance" class="insurance-infos__check-icon">check_circle</mat-icon>
            <mat-icon *ngIf="!info.includesRoadsideAssistance" class="insurance-infos__cancel-icon">cancel</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let info">
            <button mat-icon-button (click)="openEditDialog(info)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteInsuranceInfo(info.insuranceInfoId)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
