.insurance-infos {
  padding: 1.5rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
  }

  &__card {
    overflow: hidden;
  }

  &__table {
    width: 100%;
  }

  &__check-icon {
    color: #4caf50;
  }

  &__cancel-icon {
    color: #f44336;
  }
}
