<mat-nav-list class="sidebar">
  @for (item of menuItems; track item.path) {
    <a
      mat-list-item
      [routerLink]="item.path"
      routerLinkActive="sidebar__item--active"
      [routerLinkActiveOptions]="{ exact: item.exact || false }"
      class="sidebar__item"
    >
      <mat-icon matListItemIcon class="sidebar__icon">{{ item.icon }}</mat-icon>
      <span matListItemTitle class="sidebar__label">{{ item.label }}</span>
      @if (item.count$) {
        <span matListItemMeta class="sidebar__count">
          {{ item.count$ | async }}
        </span>
      }
    </a>
  }
</mat-nav-list>
