.registry-items {
  &__loading {
    display: flex;
    justify-content: center;
    padding: 48px;
  }

  &__empty {
    grid-column: 1 / -1;
    text-align: center;
    padding: 48px;

    mat-icon {
      font-size: 64px;
      width: 64px;
      height: 64px;
      color: rgba(0, 0, 0, 0.3);
      margin-bottom: 16px;
    }

    p {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 16px;
    }
  }
}
