.project-dialog {
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    min-width: 500px;
  }

  &__field {
    width: 100%;

    &--full {
      grid-column: 1 / -1;
    }
  }
}
