.receipt-form-dialog {
  &__title {
    margin: 0;
  }

  &__content {
    padding: 1.5rem 1.5rem 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__field {
    width: 100%;
  }

  &__actions {
    padding: 1rem 1.5rem;
  }

  &__button {
    margin-left: 0.5rem;
  }
}
