<div class="exercises">
  <div class="exercises__header">
    <h1 class="exercises__title">Exercises</h1>
    <button mat-raised-button color="primary" (click)="onCreate()" class="exercises__create-button">
      <mat-icon>add</mat-icon>
      Create Exercise
    </button>
  </div>

  <div class="exercises__grid" *ngIf="exercises$ | async as exercises">
    <app-exercise-card
      *ngFor="let exercise of exercises"
      [exercise]="exercise"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      class="exercises__card">
    </app-exercise-card>

    <div *ngIf="exercises.length === 0" class="exercises__empty">
      <mat-icon class="exercises__empty-icon">fitness_center</mat-icon>
      <p class="exercises__empty-text">No exercises found. Create your first exercise!</p>
      <button mat-raised-button color="primary" (click)="onCreate()">
        <mat-icon>add</mat-icon>
        Create Exercise
      </button>
    </div>
  </div>
</div>
