/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

$friend-group-event-coordinator-primary: mat.define-palette(mat.$indigo-palette);
$friend-group-event-coordinator-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$friend-group-event-coordinator-warn: mat.define-palette(mat.$red-palette);

$friend-group-event-coordinator-theme: mat.define-light-theme((
  color: (
    primary: $friend-group-event-coordinator-primary,
    accent: $friend-group-event-coordinator-accent,
    warn: $friend-group-event-coordinator-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($friend-group-event-coordinator-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
