.audit-report-dialog {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 500px;
  }

  &__field {
    width: 100%;

    &--half {
      width: calc(50% - 0.5rem);
    }
  }

  &__date-range,
  &__hours {
    display: flex;
    gap: 1rem;
  }
}
