@use '@angular/material' as mat;

@include mat.core();

$nutrition-label-scanner-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$nutrition-label-scanner-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$nutrition-label-scanner-warn: mat.m2-define-palette(mat.$m2-red-palette);

$nutrition-label-scanner-theme: mat.m2-define-light-theme((
  color: (
    primary: $nutrition-label-scanner-primary,
    accent: $nutrition-label-scanner-accent,
    warn: $nutrition-label-scanner-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($nutrition-label-scanner-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
