<div class="routes">
  <div class="routes__header">
    <h1 class="routes__title">Routes</h1>
    <button mat-raised-button color="primary" class="routes__add-btn">
      <mat-icon>add</mat-icon>
      Add Route
    </button>
  </div>

  <mat-card class="routes__card">
    <mat-card-content>
      <table mat-table [dataSource]="(routes$ | async) || []" class="routes__table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let route">{{ route.name }}</td>
        </ng-container>

        <ng-container matColumnDef="startLocation">
          <th mat-header-cell *matHeaderCellDef>Start</th>
          <td mat-cell *matCellDef="let route">{{ route.startLocation || 'N/A' }}</td>
        </ng-container>

        <ng-container matColumnDef="endLocation">
          <th mat-header-cell *matHeaderCellDef>End</th>
          <td mat-cell *matCellDef="let route">{{ route.endLocation || 'N/A' }}</td>
        </ng-container>

        <ng-container matColumnDef="distanceMiles">
          <th mat-header-cell *matHeaderCellDef>Distance (mi)</th>
          <td mat-cell *matCellDef="let route">
            <span *ngIf="route.distanceMiles">{{ route.distanceMiles | number:'1.1-1' }}</span>
            <span *ngIf="!route.distanceMiles">N/A</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="difficulty">
          <th mat-header-cell *matHeaderCellDef>Difficulty</th>
          <td mat-cell *matCellDef="let route">{{ route.difficulty || 'N/A' }}</td>
        </ng-container>

        <ng-container matColumnDef="isFavorite">
          <th mat-header-cell *matHeaderCellDef>Favorite</th>
          <td mat-cell *matCellDef="let route">
            <mat-chip *ngIf="route.isFavorite" class="routes__chip--warning">
              <mat-icon class="routes__favorite-icon">star</mat-icon>
              Favorite
            </mat-chip>
            <span *ngIf="!route.isFavorite">-</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let route">
            <button mat-icon-button color="primary" title="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteRoute(route.routeId)" title="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
