<div class="workouts">
  <div class="workouts__header">
    <h1 class="workouts__title">Workouts</h1>
    <button mat-raised-button color="primary" (click)="onCreate()" class="workouts__create-button">
      <mat-icon>add</mat-icon>
      Create Workout
    </button>
  </div>

  <div class="workouts__grid" *ngIf="workouts$ | async as workouts">
    <app-workout-card
      *ngFor="let workout of workouts"
      [workout]="workout"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      class="workouts__card">
    </app-workout-card>

    <div *ngIf="workouts.length === 0" class="workouts__empty">
      <mat-icon class="workouts__empty-icon">event_note</mat-icon>
      <p class="workouts__empty-text">No workouts found. Create your first workout!</p>
      <button mat-raised-button color="primary" (click)="onCreate()">
        <mat-icon>add</mat-icon>
        Create Workout
      </button>
    </div>
  </div>
</div>
