.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  &__title {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__nav {
    display: flex;
    gap: 0.5rem;
  }

  &__nav-link {
    color: white;

    &--active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
