<mat-toolbar color="primary" class="header">
  <span class="header__title">Sports Team Following Tracker</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a mat-button routerLink="/teams" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>groups</mat-icon>
      <span>Teams</span>
    </a>
    <a mat-button routerLink="/games" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>sports</mat-icon>
      <span>Games</span>
    </a>
    <a mat-button routerLink="/seasons" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>calendar_today</mat-icon>
      <span>Seasons</span>
    </a>
    <a mat-button routerLink="/statistics" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>analytics</mat-icon>
      <span>Statistics</span>
    </a>
  </nav>
</mat-toolbar>
