<div class="dashboard">
  <header class="dashboard__header">
    <h1 class="dashboard__title">My Shopping Lists</h1>
    <button mat-raised-button color="primary" (click)="openCreateDialog()">
      <mat-icon>add</mat-icon>
      New List
    </button>
  </header>

  <ng-container *ngIf="viewModel$ | async as vm">
    @if (vm.loading) {
      <div class="dashboard__loading">
        <mat-spinner diameter="40"></mat-spinner>
        <span>Loading lists...</span>
      </div>
    } @else if (vm.error) {
      <div class="dashboard__error">
        <mat-icon>error</mat-icon>
        <span>{{ vm.error }}</span>
      </div>
    } @else if (vm.lists.length === 0) {
      <div class="dashboard__empty">
        <mat-icon>shopping_cart</mat-icon>
        <h2>No shopping lists yet</h2>
        <p>Create your first shopping list to get started!</p>
        <button mat-raised-button color="primary" (click)="openCreateDialog()">
          <mat-icon>add</mat-icon>
          Create List
        </button>
      </div>
    } @else {
      <div class="dashboard__grid">
        @for (list of vm.lists; track list.groceryListId) {
          <app-list-card [list]="list" (delete)="onDeleteList($event)"></app-list-card>
        }
      </div>
    }
  </ng-container>
</div>
