<mat-toolbar color="primary" class="header">
  <span class="header__title">{{ title }}</span>
  <span class="header__spacer"></span>
  <nav class="header__nav">
    <a mat-button routerLink="/dashboard" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a mat-button routerLink="/plans" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>account_balance</mat-icon>
      Plans
    </a>
    <a mat-button routerLink="/beneficiaries" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>people</mat-icon>
      Beneficiaries
    </a>
    <a mat-button routerLink="/contributions" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>payments</mat-icon>
      Contributions
    </a>
    <a mat-button routerLink="/projections" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>trending_up</mat-icon>
      Projections
    </a>
  </nav>
</mat-toolbar>
