<mat-toolbar class="header">
  <div class="header__content">
    <a routerLink="/" class="header__logo">
      <mat-icon>calendar_month</mat-icon>
      <span class="header__title">Family Calendar</span>
    </a>
    <nav class="header__nav">
      <a mat-button routerLink="/" routerLinkActive="header__nav-link--active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-button routerLink="/calendar" routerLinkActive="header__nav-link--active">
        <mat-icon>calendar_today</mat-icon>
        Calendar
      </a>
      <a mat-button routerLink="/family-members" routerLinkActive="header__nav-link--active">
        <mat-icon>group</mat-icon>
        Family Members
      </a>
      <a mat-button routerLink="/households" routerLinkActive="header__nav-link--active">
        <mat-icon>home</mat-icon>
        Households
      </a>
      <a mat-button routerLink="/reminders" routerLinkActive="header__nav-link--active">
        <mat-icon>notifications</mat-icon>
        Reminders
      </a>
    </nav>
    <div class="header__actions">
      <button mat-raised-button color="primary" (click)="onAddEventClick()">
        <mat-icon>add</mat-icon>
        Add Event
      </button>
    </div>
  </div>
</mat-toolbar>
