/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$pet-care-primary: mat.define-palette(mat.$indigo-palette);
$pet-care-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$pet-care-warn: mat.define-palette(mat.$red-palette);

$pet-care-theme: mat.define-light-theme((
  color: (
    primary: $pet-care-primary,
    accent: $pet-care-accent,
    warn: $pet-care-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($pet-care-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
