.memory-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__image {
    object-fit: cover;
    max-height: 200px;
  }

  &__title {
    font-size: 18px;
  }

  &__description {
    margin: 8px 0;
    color: rgba(0, 0, 0, 0.6);
  }

  &__actions {
    margin-top: auto;
    display: flex;
    gap: 8px;
  }
}
