.workout-mapping-list {
  padding: 24px;

  &__card {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    flex: 1;
  }

  &__create-btn {
    margin-left: auto;
  }

  &__table {
    width: 100%;
  }

  &__favorite-chip {
    background-color: #ffd700;
    color: #000;
  }
}
