@use '@angular/material' as mat;

@include mat.core();

$subscription-audit-tool-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$subscription-audit-tool-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$subscription-audit-tool-warn: mat.m2-define-palette(mat.$m2-red-palette);

$subscription-audit-tool-theme: mat.m2-define-light-theme((
  color: (
    primary: $subscription-audit-tool-primary,
    accent: $subscription-audit-tool-accent,
    warn: $subscription-audit-tool-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($subscription-audit-tool-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
