.vehicle-dialog {
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px 0;
  }

  &__field {
    width: 100%;

    &--full {
      grid-column: 1 / -1;
    }
  }
}
