<div class="trips">
  <div class="trips__header">
    <h1 class="trips__title">My Trips</h1>
    <button mat-raised-button color="primary" (click)="onAdd()">
      <mat-icon>add</mat-icon>
      Add Trip
    </button>
  </div>

  <div class="trips__grid" *ngIf="tripsWithDestinations$ | async as tripsWithDestinations">
    <ng-container *ngIf="tripsWithDestinations.length > 0; else noTrips">
      <app-trip-card
        *ngFor="let item of tripsWithDestinations"
        [trip]="item.trip"
        [destinationName]="item.destinationName"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
      ></app-trip-card>
    </ng-container>
  </div>

  <ng-template #noTrips>
    <div class="trips__empty">
      <mat-icon>flight_takeoff</mat-icon>
      <h2>No trips planned yet</h2>
      <p>Start planning your next adventure!</p>
      <button mat-raised-button color="primary" (click)="onAdd()">
        <mat-icon>add</mat-icon>
        Plan Your First Trip
      </button>
    </div>
  </ng-template>
</div>
