<div class="vehicles">
  <div class="vehicles__header">
    <h1 class="vehicles__title">My Vehicles</h1>
    <button mat-raised-button color="primary" (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
      Add Vehicle
    </button>
  </div>

  <div class="vehicles__content" *ngIf="vehicles$ | async as vehicles">
    <div *ngIf="vehicles.length === 0" class="vehicles__empty">
      <mat-icon class="vehicles__empty-icon">directions_car</mat-icon>
      <h2 class="vehicles__empty-title">No vehicles yet</h2>
      <p class="vehicles__empty-text">Get started by adding your first vehicle</p>
      <button mat-raised-button color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
        Add Vehicle
      </button>
    </div>

    <div *ngIf="vehicles.length > 0" class="vehicles__grid">
      <app-vehicle-card
        *ngFor="let vehicle of vehicles"
        [vehicle]="vehicle"
        (edit)="openEditDialog($event)"
        (delete)="deleteVehicle($event)"
      ></app-vehicle-card>
    </div>
  </div>
</div>
