/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$knowledge-base-second-brain-primary: mat.define-palette(mat.$indigo-palette);
$knowledge-base-second-brain-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$knowledge-base-second-brain-warn: mat.define-palette(mat.$red-palette);

$knowledge-base-second-brain-theme: mat.define-light-theme((
  color: (
    primary: $knowledge-base-second-brain-primary,
    accent: $knowledge-base-second-brain-accent,
    warn: $knowledge-base-second-brain-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($knowledge-base-second-brain-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
