@use '@angular/material' as mat;

@include mat.core();

$time-audit-tracker-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$time-audit-tracker-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$time-audit-tracker-warn: mat.m2-define-palette(mat.$m2-red-palette);

$time-audit-tracker-theme: mat.m2-define-light-theme((
  color: (
    primary: $time-audit-tracker-primary,
    accent: $time-audit-tracker-accent,
    warn: $time-audit-tracker-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($time-audit-tracker-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
