.market-comparison-form-dialog {
  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  &__field {
    width: 100%;
    margin-bottom: 0.5rem;

    &--third {
      width: calc(33.333% - 0.667rem);
    }
  }

  &__row {
    display: flex;
    gap: 1rem;
  }
}
