@use '../../../styles/tokens' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &__menu-button {
    margin-right: $spacing-2;

    @media (min-width: $breakpoint-desktop) {
      display: none;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
  }

  &__spacer {
    flex: 1;
  }

  &__icon-button {
    margin-left: $spacing-1;
  }

  &__user-info {
    padding: $spacing-4;
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }

  &__user-name {
    font-weight: 500;
    color: $color-text-primary;
  }

  &__user-email {
    font-size: 12px;
    color: $color-text-secondary;
    margin-top: $spacing-1;
  }
}
