.reminders {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;

  &__title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__card {
    margin-bottom: 1rem;
  }

  &__channel-icon {
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}
