<div class="refills">
  <div class="refills__header">
    <h1 class="refills__title">Refills</h1>
    <button mat-raised-button color="primary" (click)="onAdd()" class="refills__add-btn">
      <mat-icon>add</mat-icon>
      Add Refill
    </button>
  </div>

  <div *ngIf="loading$ | async" class="refills__loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!(loading$ | async)" class="refills__grid">
    <app-refill-card
      *ngFor="let refill of refills$ | async"
      [refill]="refill"
      (edit)="onEdit($event)"
      (remove)="onDelete($event)"
      class="refills__card">
    </app-refill-card>
  </div>

  <div *ngIf="!(loading$ | async) && (refills$ | async)?.length === 0" class="refills__empty">
    <mat-icon class="refills__empty-icon">local_pharmacy</mat-icon>
    <p class="refills__empty-text">No refills found</p>
    <button mat-raised-button color="primary" (click)="onAdd()">
      Add Your First Refill
    </button>
  </div>
</div>
