<div class="dashboard">
  <div class="dashboard__header">
    <h1 class="dashboard__title">My Restoration Projects</h1>
    <button mat-raised-button color="primary" (click)="openProjectDialog()">
      <mat-icon>add</mat-icon>
      New Project
    </button>
  </div>

  <div class="dashboard__content">
    <div class="dashboard__grid" *ngIf="(projects$ | async) as projects">
      <ng-container *ngIf="projects.length > 0; else noProjects">
        <app-project-card
          *ngFor="let project of projects"
          [project]="project"
          (edit)="openProjectDialog($event)"
          (delete)="deleteProject($event)">
        </app-project-card>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #noProjects>
  <div class="dashboard__empty">
    <mat-icon class="dashboard__empty-icon">directions_car</mat-icon>
    <h2>No Projects Yet</h2>
    <p>Start your restoration journey by creating your first project</p>
    <button mat-raised-button color="primary" (click)="openProjectDialog()">
      <mat-icon>add</mat-icon>
      Create Your First Project
    </button>
  </div>
</ng-template>
