.item-dialog {
  min-width: 500px;
  max-width: 600px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__field {
    width: 100%;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  &__actions {
    padding: 16px 24px;
    gap: 8px;
  }
}

@media (max-width: 600px) {
  .item-dialog {
    min-width: unset;
    width: 100%;

    &__row {
      grid-template-columns: 1fr;
    }
  }
}
