<div class="screenings">
  <div class="screenings__header">
    <h1 class="screenings__title">Health Screenings</h1>
    <button mat-raised-button color="primary" class="screenings__add-btn">
      <mat-icon>add</mat-icon>
      Add Screening
    </button>
  </div>

  <mat-card class="screenings__card">
    <mat-card-content>
      <table mat-table [dataSource]="(screenings$ | async) || []" class="screenings__table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let screening">{{ screening.name }}</td>
        </ng-container>

        <ng-container matColumnDef="screeningType">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let screening">{{ screening.screeningType }}</td>
        </ng-container>

        <ng-container matColumnDef="lastScreeningDate">
          <th mat-header-cell *matHeaderCellDef>Last Screening</th>
          <td mat-cell *matCellDef="let screening">
            {{ screening.lastScreeningDate ? (screening.lastScreeningDate | date:'short') : 'N/A' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nextDueDate">
          <th mat-header-cell *matHeaderCellDef>Next Due</th>
          <td mat-cell *matCellDef="let screening">
            {{ screening.nextDueDate ? (screening.nextDueDate | date:'short') : 'N/A' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="provider">
          <th mat-header-cell *matHeaderCellDef>Provider</th>
          <td mat-cell *matCellDef="let screening">{{ screening.provider || 'N/A' }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let screening">
            <mat-chip *ngIf="screening.isDueSoon" class="screenings__chip--warning">Due Soon</mat-chip>
            <mat-chip *ngIf="!screening.isDueSoon" class="screenings__chip--success">Up to Date</mat-chip>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let screening">
            <button mat-icon-button color="primary" title="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteScreening(screening.screeningId)" title="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
