<mat-toolbar class="header" color="primary">
  <div class="header__container">
    <a class="header__brand" routerLink="/">
      Personal Mission Statement Builder
    </a>
    <nav class="header__nav">
      <a
        mat-button
        routerLink="/dashboard"
        routerLinkActive="header__nav-link--active"
        class="header__nav-link">
        Dashboard
      </a>
      <a
        mat-button
        routerLink="/mission-statements"
        routerLinkActive="header__nav-link--active"
        class="header__nav-link">
        Mission Statements
      </a>
      <a
        mat-button
        routerLink="/values"
        routerLinkActive="header__nav-link--active"
        class="header__nav-link">
        Values
      </a>
      <a
        mat-button
        routerLink="/goals"
        routerLinkActive="header__nav-link--active"
        class="header__nav-link">
        Goals
      </a>
      <a
        mat-button
        routerLink="/progress"
        routerLinkActive="header__nav-link--active"
        class="header__nav-link">
        Progress
      </a>
    </nav>
  </div>
</mat-toolbar>
