.categories {
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
  }

  &__table-container {
    overflow-x: auto;
  }

  &__table {
    width: 100%;
  }
}
