@use '@angular/material' as mat;

@include mat.core();

$couples-goal-tracker-primary: mat.define-palette(mat.$pink-palette);
$couples-goal-tracker-accent: mat.define-palette(mat.$purple-palette, A200, A100, A400);
$couples-goal-tracker-warn: mat.define-palette(mat.$red-palette);

$couples-goal-tracker-theme: mat.define-light-theme((
  color: (
    primary: $couples-goal-tracker-primary,
    accent: $couples-goal-tracker-accent,
    warn: $couples-goal-tracker-warn,
  )
));

@include mat.all-component-themes($couples-goal-tracker-theme);

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f5f5f5;
}
