.meetings {
  padding: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
  }

  &__card {
    margin-bottom: 2rem;
  }

  &__table {
    width: 100%;
  }
}
