.dialog {
  &__title {
    margin: 0;
    padding: 1rem 1.5rem;
  }

  &__content {
    padding: 0 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 500px;
  }

  &__field {
    width: 100%;
  }

  &__checkbox {
    margin: 0.5rem 0;
  }

  &__actions {
    padding: 1rem 1.5rem;
    justify-content: flex-end;
  }

  &__button {
    &--primary {
      margin-left: 0.5rem;
    }
  }
}
