.dose-schedule-dialog {
  &__title {
    margin-bottom: 1rem;
  }

  &__content {
    min-width: 500px;
    max-height: 70vh;
    overflow-y: auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__field {
    width: 100%;
  }

  &__toggle {
    margin-top: 0.5rem;
  }

  &__actions {
    justify-content: flex-end;
    padding: 1rem;
  }
}
