@use '@angular/material' as mat;

@include mat.core();

$marriage-enrichment-journal-primary: mat.define-palette(mat.$indigo-palette);
$marriage-enrichment-journal-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$marriage-enrichment-journal-warn: mat.define-palette(mat.$red-palette);

$marriage-enrichment-journal-theme: mat.define-light-theme((
  color: (
    primary: $marriage-enrichment-journal-primary,
    accent: $marriage-enrichment-journal-accent,
    warn: $marriage-enrichment-journal-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($marriage-enrichment-journal-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
