<mat-toolbar color="primary" class="header">
  <span class="header__title">Woodworking Project Manager</span>
  <nav class="header__nav">
    <a mat-button routerLink="/" routerLinkActive="header__nav-link--active" [routerLinkActiveOptions]="{exact: true}" class="header__nav-link">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>
    <a mat-button routerLink="/projects" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>carpenter</mat-icon>
      Projects
    </a>
    <a mat-button routerLink="/materials" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>view_in_ar</mat-icon>
      Materials
    </a>
    <a mat-button routerLink="/tools" routerLinkActive="header__nav-link--active" class="header__nav-link">
      <mat-icon>construction</mat-icon>
      Tools
    </a>
  </nav>
</mat-toolbar>
