<div class="items">
  <div class="items__container">
    <div class="items__header">
      <h1 class="items__title">Items</h1>
      <button mat-raised-button color="primary" class="items__add-button" (click)="onAddItem()">
        <mat-icon>add</mat-icon>
        Add Item
      </button>
    </div>

    <div class="items__filters">
      <mat-form-field appearance="outline" class="items__filter">
        <mat-label>Category</mat-label>
        <mat-select [(value)]="selectedCategory" (selectionChange)="onCategoryChange($event.value)">
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{ category.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="items__filter">
        <mat-label>Room</mat-label>
        <mat-select [(value)]="selectedRoom" (selectionChange)="onRoomChange($event.value)">
          <mat-option *ngFor="let room of rooms" [value]="room.value">
            {{ room.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="items__content" *ngIf="!(loading$ | async); else loadingTemplate">
      <div class="items__grid" *ngIf="(items$ | async)?.length ?? 0 > 0; else emptyTemplate">
        <app-item-card
          *ngFor="let item of items$ | async"
          [item]="item"
          (edit)="onEditItem($event)"
          (delete)="onDeleteItem($event)"
          (viewDetails)="onViewDetails($event)"
        ></app-item-card>
      </div>

      <ng-template #emptyTemplate>
        <div class="items__empty">
          <mat-icon>inventory_2</mat-icon>
          <h2>No items found</h2>
          <p>Start adding items to your inventory to see them here.</p>
          <button mat-raised-button color="primary" (click)="onAddItem()">
            <mat-icon>add</mat-icon>
            Add Your First Item
          </button>
        </div>
      </ng-template>
    </div>

    <ng-template #loadingTemplate>
      <div class="items__loading">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>
