.drinking-window-form {
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding-top: 16px;
  }

  &__field {
    width: 100%;

    &--full {
      grid-column: 1 / -1;
    }
  }
}
