.organization-dialog {
  &__content {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-height: 600px;
  }

  &__field {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__checkbox {
    margin-bottom: 1rem;
  }

  &__actions {
    padding: 1rem 0;
  }
}
