.recipient-dialog {
  &__content {
    min-width: 400px;

    @media (max-width: 600px) {
      min-width: auto;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding-top: var(--spacing-md);
  }

  &__field {
    width: 100%;
  }
}
